<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.happylifeplat.commons"/>

    <bean class="com.happylifeplat.service.search.client.ElasticSearchClient">
        <constructor-arg value="${es.cluster.name}"/><!-- cluster.name -->
        <constructor-arg value="${es.host}"/><!-- host -->
        <constructor-arg value="${es.port}"/><!-- port -->
    </bean>
    <bean id="jobBootstrap" class="com.happylifeplat.service.search.bootstrap.JobBootstrap"/>

    <!--注册验证器 -->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!--<property name="validationProperties" ref="loadProperties"/> -->
    </bean>
    <!--数据源-->
    <import resource="spring-dataSource.xml"/>
    <!-- 引入dubbo配置 -->
    <import resource="dubbo-provider.xml"/>
    <!-- 引入job配置 -->
    <import resource="spring-jobs.xml"/>

</beans>